<!DOCTYPE html>
<html>

<head>
    <title>Game</title>
    <style>
        body {
            background-color: #000;
        }
        #canvas-container {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
        }
        #canvas-container canvas {
            clear: both;
            background-color: #000;
        }
        #angular-container,
        #stats-container {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }
        #alert-container {
            position: relative;
            z-index: 2;
            width: 50%;
            margin: 0 50%;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.css">


</head>

<body>

    <div id="canvas-container">
    </div>
    <section id="angular-bootstrap">
        <section ng-controller="controllers" class="angular-container">
            <div id="alert-container">
            </div>
            <div ng-show="showStats" id="stats-container">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Controls</h4>
                        </div>
                        <div class="modal-body">
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">

                                    <li role="presentation" ng-repeat="gamepadIndex in gamepads">
                                        <a ng-href=".controller-{{gamepadIndex}}" aria-controls="controller-{{gamepadIndex}}" role="tab" data-toggle="tab">
                                        {{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}
                                    </a>
                                    </li>

                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content ">

                                    <div ng-repeat="gamepadIndex in gamepads" role="tabpanel " class="tab-pane controller-{{gamepadIndex}}">
                                        <h2 class="section-heading">
                                        {{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}
                                    </h2>
                                        <table>
                                            <tr>
                                                <td ng-repeat="playerId in $parent.players ">
                                                    <label for="player-{{playerId}}">{{playerId}}</label>
                                                    <input type="checkbox" name="player-{{playerId}}" ng-model="$parent.$parent.controllerToPlayer[$parent.gamepadIndex][playerId] " ng-change="$parent.$parent.toggleControllerToPlayer($parent.gamepadIndex, playerId) ">
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <table>
                                                    <thead>
                                                        <th>Input</th>
                                                        <th>Bindings</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat='input in $parent.inputNames'>
                                                            <td>{{input}}</td>
                                                            <td>
                                                                {{$parent.$parent.controllerBindings[$parent.gamepadIndex][input]}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-6">
                                                <table class="table table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>Button</th>
                                                            <th>Value</th>
                                                            <th>Is Pressed?</th>
                                                            <th>Was Released?</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat='button in $parent.currentStates[gamepadIndex]'>
                                                            <th>{{button.name}}</th>
                                                            <td ng-mouseenter="show = true" ng-mouseleave="show = false" ng-init="show = false">
                                                                <span ng-hide="show">{{button.value.toFixed(2)}}</span>
                                                                <div class="value-over" ng-show="show">
                                                                    <kbd class="value">{{button.value}}</kbd>
                                                                </div>

                                                            </td>
                                                            <td>
                                                                {{button.pressed}}
                                                            </td>
                                                            <td>
                                                                {{button.released}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <!--<div role="tabpanel " class="tab-pane " id="profile ">...</div>
                                <div role="tabpanel " class="tab-pane " id="messages ">...</div>
                                <div role="tabpanel " class="tab-pane " id="settings ">...</div>-->
                                </div>

                            </div>
                            <!--<table class="table ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th ng-repeat="playerId in players ">Player {{playerId}}</th>
                                    <!--<th>Player 2</th>-->
                            <!--    </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gamepadIndex in gamepads ">
                                    <th>{{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}</th>
                                    <td ng-repeat="playerId in $parent.players ">
                                        <input type="checkbox " ng-model="$parent.$parent.bindings[$parent.gamepadIndex][playerId] " ng-change="$parent.$parent.toggleBinding($parent.gamepadIndex, playerId) ">
                                    </td>

                                </tr>
                            </tbody>
                        </table>-->
                        </div>
                        <div class="modal-footer ">
                            <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
                            <button type="button " class="btn btn-primary ">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="js-container">
        <script>
            window.isNodejs = false;
            var elem = document.createElement('script');
            elem.src = "js";
            elem.async = true;
            if (navigator.userAgent.indexOf('Firefox') !== -1)
                elem.type = "application/javascript;version=1.7";
            document.getElementById('js-container').appendChild(elem);
        </script>
        <!--<script src="js/vendor/jquery-2.1.1.js"></script>
        <script src="js/vendor/lz-string.js"></script>
        <script src="js/vendor/lodash.js"></script>
        <script src="js/file-loader.js"></script>
        <script src="js/vendor/EventDispatcher.js"></script>
        <script src="js/start.js"></script>
        <!-- <script async src="game.min.js"></script>-->
        <!--<script async src="js"></script>-->

    </section>
</body>

</html>