<!DOCTYPE html>
<html>

<head>
    <title>Game</title>
    <style>
        body {
            background-color: #000;
        }
        #canvas-container {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
        }
        #canvas-container canvas {
            clear: both;
            background-color: #000;
        }
        #angular-container,
        #stats-container {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
        }
        #alert-container {
            position: relative;
            z-index: 2;
            width: 50%;
            margin: 0 50%;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.css">


</head>

<body>

    <div id="canvas-container">
    </div>
    <section ng-controller="controllers" class="angular-container">
        <div id="alert-container">
        </div>
        <div ng-show="showStats" id="stats-container">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Controls</h4>
                    </div>
                    <div class="modal-body">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" ng-repeat="gamepadIndex in gamepads">
                                    <a ng-href=".controller-{{gamepadIndex}}" aria-controls="controller-{{gamepadIndex}}" role="tab" data-toggle="tab">
                                        {{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}
                                    </a>
                                </li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content ">

                                <div ng-repeat="gamepadIndex in gamepads" role="tabpanel " class="tab-pane controller-{{gamepadIndex}}">
                                    <h2 class="section-heading">
                                        {{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}
                                    </h2>
                                    <table>
                                        <tr>
                                            <td ng-repeat="playerId in $parent.players ">
                                                <label for="player-{{playerId}}">{{playerId}}</label>
                                                <input type="checkbox" name="player-{{playerId}}" ng-model="$parent.$parent.controllerToPlayer[$parent.gamepadIndex][playerId] " ng-change="$parent.$parent.toggleControllerToPlayer($parent.gamepadIndex, playerId) ">
                                            </td>
                                        </tr>
                                    </table>
                                    <table>
                                        <thead>
                                            <th>Input</th>
                                            <th>Bindings</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat='input in $parent.inputNames'>
                                                <td>{{input}}</td>
                                                <td>
                                                    {{$parent.$parent.controllerBindings[$parent.gamepadIndex][input]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!--<div role="tabpanel " class="tab-pane " id="profile ">...</div>
                                <div role="tabpanel " class="tab-pane " id="messages ">...</div>
                                <div role="tabpanel " class="tab-pane " id="settings ">...</div>-->
                            </div>

                        </div>
                        <!--<table class="table ">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th ng-repeat="playerId in players ">Player {{playerId}}</th>
                                    <!--<th>Player 2</th>-->
                        <!--    </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gamepadIndex in gamepads ">
                                    <th>{{gamepadIndex}}: {{$parent.gamepadsId[gamepadIndex]}}</th>
                                    <td ng-repeat="playerId in $parent.players ">
                                        <input type="checkbox " ng-model="$parent.$parent.bindings[$parent.gamepadIndex][playerId] " ng-change="$parent.$parent.toggleBinding($parent.gamepadIndex, playerId) ">
                                    </td>

                                </tr>
                            </tbody>
                        </table>-->
                    </div>
                    <div class="modal-footer ">
                        <button type="button " class="btn btn-default " data-dismiss="modal ">Close</button>
                        <button type="button " class="btn btn-primary ">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script async src="vendor/angular.js "></script>
    <script src="vendor/jquery-2.1.1.js "></script>
    <script async defer src="vendor/bootstrap.js "></script>
    <script async src="vendor/stats.js "></script>
    <script async src="vendor/lodash.js "></script>
    <script async src="vendor/EventDispatcher.js "></script>
    <!--<script defer>
        document.addEventListener('readystatechange', function (event) {
            'use strict';
            var alertConnect = '<div class="alert alert-danger alert-dismissible fade in " role="alert ">';
            alertConnect += '<button type="button " class="close " data-dismiss="alert "><span aria-hidden="true ">×</span><span class="sr-only ">Close</span></button>';
            alertConnect += '<h4 class="alert-heading ">This game requires settings to be enabled!</h4>';
            alertConnect += '<p> This game was tested on Chrome. </p>';
            alertConnect += '<p> you need to enable some settings, so copy in to your address bar: </p>';
            alertConnect += '<p> chrome://flags/#enable-experimental-canvas-features</p>';
            alertConnect += '<p> chrome://flags/#enable-javascript-harmony</p>';

            alertConnect += '</div>';
            $(alertConnect).appendTo('#alert-container');
            
        });
    </script>-->
    <script async src="wall.js "></script>
    <script async src="controls.js "></script>
    <script async src="graphics.js "></script>
    <script async src="physics.js "></script>
    <script async src="player.js "></script>
    <script async src="manager.js "></script>
    <script async src="projectile.js "></script>
    <script async src="point.js "></script>
    <script async src="ai.js "></script>
    <script async defer src="main.js "></script>
    <!-- <script async src="game.min.js "></script>-->
</body>

</html>